/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2008 R2
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [TourDuLich]    Script Date: 12/3/2017 4:33:27 PM ******/
CREATE DATABASE [TourDuLich] ON  PRIMARY 
( NAME = N'TourDuLich', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TourDuLich.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourDuLich_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\TourDuLich_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourDuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourDuLich]
GO
/****** Object:  Table [dbo].[BangDangKy]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDangKy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaThoiGianTour] [int] NULL,
	[MaDoanDuLich] [int] NULL,
	[NgayDangKy] [datetime] NULL,
 CONSTRAINT [PK_KhachDangKy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhiAnUong]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhiAnUong](
	[MaChiPhiAnUong] [int] IDENTITY(1,1) NOT NULL,
	[TenQuanAn] [nvarchar](250) NULL,
	[GhiChu] [nvarchar](250) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_ChiPhiAnUong] PRIMARY KEY CLUSTERED 
(
	[MaChiPhiAnUong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhiKhachSan]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhiKhachSan](
	[MaChiPhiKhachSan] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachSan] [nvarchar](250) NULL,
	[GhiChu] [nvarchar](250) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_ChiPhiKhachSan] PRIMARY KEY CLUSTERED 
(
	[MaChiPhiKhachSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhiPhatSinh]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhiPhatSinh](
	[MaChiPhiPhatSinh] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](250) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_ChiPhiPhatSinh] PRIMARY KEY CLUSTERED 
(
	[MaChiPhiPhatSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiPhiPhuongTien]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhiPhuongTien](
	[MaChiPhiPhuongTien] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuongTien] [nvarchar](250) NULL,
	[BienSoXe] [nvarchar](250) NULL,
	[GhiChu] [nvarchar](250) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_ChiPhiPhuongTien] PRIMARY KEY CLUSTERED 
(
	[MaChiPhiPhuongTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDiaDiem]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDiaDiem](
	[MaChiTietDiaDiem] [int] IDENTITY(1,1) NOT NULL,
	[MaDiaDiem] [int] NULL,
	[GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_ChiTietDiaDiem] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[MaDiaDiem] [int] IDENTITY(1,1) NOT NULL,
	[MaTinhThanh] [int] NULL,
	[TenDiaDiem] [nvarchar](250) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_DiaDiem] PRIMARY KEY CLUSTERED 
(
	[MaDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanDuLich]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanDuLich](
	[MaDoanDuLich] [int] IDENTITY(1,1) NOT NULL,
	[MaThoiGianTour] [int] NULL,
	[TenDoanDuLich] [nvarchar](250) NULL,
	[SoLuongKhach] [int] NULL,
	[SoLuongNhanVien] [int] NULL,
	[TongTienAnUong] [float] NULL,
	[TongTienPhuongTien] [float] NULL,
	[TongTienKhachSan] [float] NULL,
	[TongTienPhatSinh] [float] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_DoanDuLich] PRIMARY KEY CLUSTERED 
(
	[MaDoanDuLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTour]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTour] [int] NULL,
	[ThoiGianBatDau] [date] NULL,
	[ThoiGianKetThuc] [date] NULL,
	[GiaTien] [float] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_GiaTour] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](250) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[CMND] [nvarchar](12) NULL,
	[Passport] [nvarchar](50) NULL,
	[MaQuocTich] [int] NULL,
	[DiaChi] [nvarchar](250) NULL,
	[TenCongTy] [nvarchar](250) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrinh]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDoanDuLich] [int] NULL,
	[Ngay] [int] NULL,
	[Buoi] [nvarchar](250) NULL,
	[MaChiTietDiaDiem] [int] NULL,
	[MaChiPhiKhachSan] [int] NULL,
	[MaChiPhiAnUong] [int] NULL,
	[MaChiPhiPhuongTien] [int] NULL,
	[MaChiPhiPhatSinh] [int] NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichTrinh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHinhDuLich]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHinhDuLich](
	[MaLoaiHinh] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiHinh] [nvarchar](250) NULL,
 CONSTRAINT [PK_LoaiHinhDuLich] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](250) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[CMND] [nvarchar](12) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhiemVu]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhiemVu](
	[MaNhiemVu] [int] IDENTITY(1,1) NOT NULL,
	[TenNhiemVu] [nvarchar](250) NULL,
 CONSTRAINT [PK_NhiemVu] PRIMARY KEY CLUSTERED 
(
	[MaNhiemVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDoanDuLich] [int] NULL,
	[MaNhanVien] [int] NULL,
	[MaNhiemVu] [int] NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuocTich]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuocTich](
	[MaQuocTich] [int] IDENTITY(1,1) NOT NULL,
	[TenQuocTich] [nvarchar](250) NULL,
 CONSTRAINT [PK_QuocTich] PRIMARY KEY CLUSTERED 
(
	[MaQuocTich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiGianTour]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiGianTour](
	[MaThoiGianTour] [int] IDENTITY(1,1) NOT NULL,
	[MaTour] [int] NULL,
	[NgayDi] [date] NULL,
	[NgayVe] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_ThoiGian] PRIMARY KEY CLUSTERED 
(
	[MaThoiGianTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhThanh] [nvarchar](250) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[MaTour] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiHinh] [int] NULL,
	[TenTour] [nvarchar](500) NULL,
	[SoNgay] [int] NULL,
	[SoDem] [int] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourDiemThamQuan]    Script Date: 12/3/2017 4:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourDiemThamQuan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTour] [int] NULL,
	[MaDiaDiem] [int] NULL,
 CONSTRAINT [PK_TourDiemThamQuan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangDangKy] ON 

INSERT [dbo].[BangDangKy] ([Id], [MaKhachHang], [MaThoiGianTour], [MaDoanDuLich], [NgayDangKy]) VALUES (2, 6, 1, 8, NULL)
INSERT [dbo].[BangDangKy] ([Id], [MaKhachHang], [MaThoiGianTour], [MaDoanDuLich], [NgayDangKy]) VALUES (3, 7, 1, 8, NULL)
INSERT [dbo].[BangDangKy] ([Id], [MaKhachHang], [MaThoiGianTour], [MaDoanDuLich], [NgayDangKy]) VALUES (4, 8, 1, 8, NULL)
SET IDENTITY_INSERT [dbo].[BangDangKy] OFF
SET IDENTITY_INSERT [dbo].[ChiPhiAnUong] ON 

INSERT [dbo].[ChiPhiAnUong] ([MaChiPhiAnUong], [TenQuanAn], [GhiChu], [TongTien]) VALUES (1, NULL, NULL, 3000000)
INSERT [dbo].[ChiPhiAnUong] ([MaChiPhiAnUong], [TenQuanAn], [GhiChu], [TongTien]) VALUES (2, NULL, NULL, 2000000)
INSERT [dbo].[ChiPhiAnUong] ([MaChiPhiAnUong], [TenQuanAn], [GhiChu], [TongTien]) VALUES (3, NULL, NULL, 3000000)
SET IDENTITY_INSERT [dbo].[ChiPhiAnUong] OFF
SET IDENTITY_INSERT [dbo].[ChiPhiKhachSan] ON 

INSERT [dbo].[ChiPhiKhachSan] ([MaChiPhiKhachSan], [TenKhachSan], [GhiChu], [TongTien]) VALUES (1, NULL, NULL, 3000000)
INSERT [dbo].[ChiPhiKhachSan] ([MaChiPhiKhachSan], [TenKhachSan], [GhiChu], [TongTien]) VALUES (2, NULL, NULL, 3500000)
INSERT [dbo].[ChiPhiKhachSan] ([MaChiPhiKhachSan], [TenKhachSan], [GhiChu], [TongTien]) VALUES (3, NULL, NULL, 2500000)
SET IDENTITY_INSERT [dbo].[ChiPhiKhachSan] OFF
SET IDENTITY_INSERT [dbo].[ChiPhiPhatSinh] ON 

INSERT [dbo].[ChiPhiPhatSinh] ([MaChiPhiPhatSinh], [NoiDung], [TongTien]) VALUES (1, NULL, 3000000)
INSERT [dbo].[ChiPhiPhatSinh] ([MaChiPhiPhatSinh], [NoiDung], [TongTien]) VALUES (2, NULL, 3500000)
INSERT [dbo].[ChiPhiPhatSinh] ([MaChiPhiPhatSinh], [NoiDung], [TongTien]) VALUES (3, NULL, 2500000)
SET IDENTITY_INSERT [dbo].[ChiPhiPhatSinh] OFF
SET IDENTITY_INSERT [dbo].[ChiPhiPhuongTien] ON 

INSERT [dbo].[ChiPhiPhuongTien] ([MaChiPhiPhuongTien], [TenPhuongTien], [BienSoXe], [GhiChu], [TongTien]) VALUES (1, NULL, NULL, NULL, 6000000)
INSERT [dbo].[ChiPhiPhuongTien] ([MaChiPhiPhuongTien], [TenPhuongTien], [BienSoXe], [GhiChu], [TongTien]) VALUES (2, NULL, NULL, NULL, 5000000)
INSERT [dbo].[ChiPhiPhuongTien] ([MaChiPhiPhuongTien], [TenPhuongTien], [BienSoXe], [GhiChu], [TongTien]) VALUES (3, NULL, NULL, NULL, 6000000)
SET IDENTITY_INSERT [dbo].[ChiPhiPhuongTien] OFF
SET IDENTITY_INSERT [dbo].[DiaDiem] ON 

INSERT [dbo].[DiaDiem] ([MaDiaDiem], [MaTinhThanh], [TenDiaDiem], [TrangThai]) VALUES (1, 63, N'Chợ Bến Thành', 1)
INSERT [dbo].[DiaDiem] ([MaDiaDiem], [MaTinhThanh], [TenDiaDiem], [TrangThai]) VALUES (2, 63, N'Nhà Thờ Đức Bà', 1)
INSERT [dbo].[DiaDiem] ([MaDiaDiem], [MaTinhThanh], [TenDiaDiem], [TrangThai]) VALUES (3, 63, N'Bưu Điện trung tâm Sài Gòn', 1)
GO
SET IDENTITY_INSERT [dbo].[DiaDiem] OFF
SET IDENTITY_INSERT [dbo].[DoanDuLich] ON 

INSERT [dbo].[DoanDuLich] ([MaDoanDuLich], [MaThoiGianTour], [TenDoanDuLich], [SoLuongKhach], [SoLuongNhanVien], [TongTienAnUong], [TongTienPhuongTien], [TongTienKhachSan], [TongTienPhatSinh], [TinhTrang]) VALUES (8, 1, N'ABC', 3, 3, 10000000, 24000000, 13500000, 9100000, 2)
INSERT [dbo].[DoanDuLich] ([MaDoanDuLich], [MaThoiGianTour], [TenDoanDuLich], [SoLuongKhach], [SoLuongNhanVien], [TongTienAnUong], [TongTienPhuongTien], [TongTienKhachSan], [TongTienPhatSinh], [TinhTrang]) VALUES (9, 1, N'sadas', NULL, NULL, 13500000, 23500000, 13500000, 12500000, 2)
INSERT [dbo].[DoanDuLich] ([MaDoanDuLich], [MaThoiGianTour], [TenDoanDuLich], [SoLuongKhach], [SoLuongNhanVien], [TongTienAnUong], [TongTienPhuongTien], [TongTienKhachSan], [TongTienPhatSinh], [TinhTrang]) VALUES (10, 2, N'fsahkjh', NULL, NULL, 13000000, 22500000, 12500000, 10300000, 2)
SET IDENTITY_INSERT [dbo].[DoanDuLich] OFF
SET IDENTITY_INSERT [dbo].[GiaTour] ON 

INSERT [dbo].[GiaTour] ([Id], [MaTour], [ThoiGianBatDau], [ThoiGianKetThuc], [GiaTien], [TrangThai]) VALUES (1, 1, CAST(N'2017-01-01' AS Date), CAST(N'2017-03-31' AS Date), 3500000, 1)
INSERT [dbo].[GiaTour] ([Id], [MaTour], [ThoiGianBatDau], [ThoiGianKetThuc], [GiaTien], [TrangThai]) VALUES (2, 1, CAST(N'2017-04-01' AS Date), CAST(N'2017-06-30' AS Date), 3200000, 1)
INSERT [dbo].[GiaTour] ([Id], [MaTour], [ThoiGianBatDau], [ThoiGianKetThuc], [GiaTien], [TrangThai]) VALUES (3, 1, CAST(N'2017-07-01' AS Date), CAST(N'2017-12-31' AS Date), 2900000, 1)
SET IDENTITY_INSERT [dbo].[GiaTour] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [CMND], [Passport], [MaQuocTich], [DiaChi], [TenCongTy], [TrangThai]) VALUES (6, N'Mạc Khải Quân', 1, CAST(N'1996-05-20' AS Date), N'0936159928', N'025659100', NULL, 154, N'46A Đoàn Hồng Phước', N'ABC', 0)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [CMND], [Passport], [MaQuocTich], [DiaChi], [TenCongTy], [TrangThai]) VALUES (7, N'Nguyễn Nhật Tân', 1, CAST(N'1996-05-20' AS Date), N'0936159928', N'025929202', NULL, 154, N'TPHCM', NULL, 0)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [CMND], [Passport], [MaQuocTich], [DiaChi], [TenCongTy], [TrangThai]) VALUES (8, N'Nguyễn Tấn Quang', 1, CAST(N'1996-05-11' AS Date), N'0936159928', N'026552040', NULL, 154, N'TPHCM', NULL, 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LichTrinh] ON 

INSERT [dbo].[LichTrinh] ([Id], [MaDoanDuLich], [Ngay], [Buoi], [MaChiTietDiaDiem], [MaChiPhiKhachSan], [MaChiPhiAnUong], [MaChiPhiPhuongTien], [MaChiPhiPhatSinh], [GhiChu]) VALUES (1, 8, NULL, NULL, NULL, 2, 3, 4, 5, NULL)
INSERT [dbo].[LichTrinh] ([Id], [MaDoanDuLich], [Ngay], [Buoi], [MaChiTietDiaDiem], [MaChiPhiKhachSan], [MaChiPhiAnUong], [MaChiPhiPhuongTien], [MaChiPhiPhatSinh], [GhiChu]) VALUES (2, 8, NULL, NULL, NULL, 3, 2, 3, 2, NULL)
INSERT [dbo].[LichTrinh] ([Id], [MaDoanDuLich], [Ngay], [Buoi], [MaChiTietDiaDiem], [MaChiPhiKhachSan], [MaChiPhiAnUong], [MaChiPhiPhuongTien], [MaChiPhiPhatSinh], [GhiChu]) VALUES (3, 8, NULL, NULL, NULL, 5, 1, 1, 5, NULL)
SET IDENTITY_INSERT [dbo].[LichTrinh] OFF
SET IDENTITY_INSERT [dbo].[LoaiHinhDuLich] ON 

INSERT [dbo].[LoaiHinhDuLich] ([MaLoaiHinh], [TenLoaiHinh]) VALUES (1, N'Du lịch tham quan')
INSERT [dbo].[LoaiHinhDuLich] ([MaLoaiHinh], [TenLoaiHinh]) VALUES (2, N'Du lịch văn hóa')
INSERT [dbo].[LoaiHinhDuLich] ([MaLoaiHinh], [TenLoaiHinh]) VALUES (3, N'Du lịch ẩm thực')
SET IDENTITY_INSERT [dbo].[LoaiHinhDuLich] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [CMND], [DiaChi], [TrangThai]) VALUES (1, N'Nguyễn Nhật Tân', 1, CAST(N'1996-10-06' AS Date), N'012456789', N'0233415646', N'TPHCM', 1)
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [CMND], [DiaChi], [TrangThai]) VALUES (2, N'Nguyễn Hữu Khánh', 1, CAST(N'1996-08-27' AS Date), N'096548654', N'0365463248', N'TPHCM', 1)
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [CMND], [DiaChi], [TrangThai]) VALUES (3, N'Mạc Khải Quân', 1, CAST(N'1996-12-25' AS Date), N'093486254', N'0323486548', N'TPHCM', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[NhiemVu] ON 

INSERT [dbo].[NhiemVu] ([MaNhiemVu], [TenNhiemVu]) VALUES (1, N'Trưởng đoàn')
INSERT [dbo].[NhiemVu] ([MaNhiemVu], [TenNhiemVu]) VALUES (2, N'Tài xế')
INSERT [dbo].[NhiemVu] ([MaNhiemVu], [TenNhiemVu]) VALUES (3, N'Hướng dẫn viên')
SET IDENTITY_INSERT [dbo].[NhiemVu] OFF
SET IDENTITY_INSERT [dbo].[PhanCong] ON 

INSERT [dbo].[PhanCong] ([Id], [MaDoanDuLich], [MaNhanVien], [MaNhiemVu]) VALUES (1, 8, 2, 3)
INSERT [dbo].[PhanCong] ([Id], [MaDoanDuLich], [MaNhanVien], [MaNhiemVu]) VALUES (2, 8, 3, 4)
INSERT [dbo].[PhanCong] ([Id], [MaDoanDuLich], [MaNhanVien], [MaNhiemVu]) VALUES (3, 8, 1, 1)
SET IDENTITY_INSERT [dbo].[PhanCong] OFF
SET IDENTITY_INSERT [dbo].[QuocTich] ON 

INSERT [dbo].[QuocTich] ([MaQuocTich], [TenQuocTich]) VALUES (1, N'Colombia')
INSERT [dbo].[QuocTich] ([MaQuocTich], [TenQuocTich]) VALUES (2, N'Comoros')
INSERT [dbo].[QuocTich] ([MaQuocTich], [TenQuocTich]) VALUES (3, N'Republic of the Congo')
GO
SET IDENTITY_INSERT [dbo].[QuocTich] OFF
SET IDENTITY_INSERT [dbo].[ThoiGianTour] ON 

INSERT [dbo].[ThoiGianTour] ([MaThoiGianTour], [MaTour], [NgayDi], [NgayVe], [TrangThai]) VALUES (1, 1, CAST(N'2017-12-05' AS Date), CAST(N'2017-12-08' AS Date), 1)
INSERT [dbo].[ThoiGianTour] ([MaThoiGianTour], [MaTour], [NgayDi], [NgayVe], [TrangThai]) VALUES (2, 1, CAST(N'2017-12-06' AS Date), CAST(N'2017-12-09' AS Date), 1)
INSERT [dbo].[ThoiGianTour] ([MaThoiGianTour], [MaTour], [NgayDi], [NgayVe], [TrangThai]) VALUES (3, 1, CAST(N'2017-12-07' AS Date), CAST(N'2017-12-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[ThoiGianTour] OFF
SET IDENTITY_INSERT [dbo].[TinhThanh] ON 

INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [TrangThai]) VALUES (1, N'An Giang', 1)
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [TrangThai]) VALUES (2, N'Bà Rịa - Vũng Tàu', 1)
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh], [TrangThai]) VALUES (3, N'Bắc Giang', 1)
SET IDENTITY_INSERT [dbo].[TinhThanh] OFF
SET IDENTITY_INSERT [dbo].[Tour] ON 

INSERT [dbo].[Tour] ([MaTour], [MaLoaiHinh], [TenTour], [SoNgay], [SoDem], [TrangThai]) VALUES (1, 1, N'TOUR SÀI GÒN - ĐÀ LẠT', 4, 3, 1)
INSERT [dbo].[Tour] ([MaTour], [MaLoaiHinh], [TenTour], [SoNgay], [SoDem], [TrangThai]) VALUES (2, 1, N'TOUR SÀI GÒN - TÂY NINH', 3, 2, 1)
INSERT [dbo].[Tour] ([MaTour], [MaLoaiHinh], [TenTour], [SoNgay], [SoDem], [TrangThai]) VALUES (3, 3, N'TOUR SÀI GÒN - HUẾ', 3, 2, 1)
SET IDENTITY_INSERT [dbo].[Tour] OFF
SET IDENTITY_INSERT [dbo].[TourDiemThamQuan] ON 

INSERT [dbo].[TourDiemThamQuan] ([Id], [MaTour], [MaDiaDiem]) VALUES (9, 2, 45)
INSERT [dbo].[TourDiemThamQuan] ([Id], [MaTour], [MaDiaDiem]) VALUES (10, 2, 47)
INSERT [dbo].[TourDiemThamQuan] ([Id], [MaTour], [MaDiaDiem]) VALUES (11, 2, 49)
SET IDENTITY_INSERT [dbo].[TourDiemThamQuan] OFF
ALTER TABLE [dbo].[BangDangKy] ADD  CONSTRAINT [DF_BangDangKy_NgayDangKy]  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[BangDangKy]  WITH CHECK ADD  CONSTRAINT [FK_KhachDangKy_DoanDuLich] FOREIGN KEY([MaDoanDuLich])
REFERENCES [dbo].[DoanDuLich] ([MaDoanDuLich])
GO
ALTER TABLE [dbo].[BangDangKy] CHECK CONSTRAINT [FK_KhachDangKy_DoanDuLich]
GO
ALTER TABLE [dbo].[BangDangKy]  WITH CHECK ADD  CONSTRAINT [FK_KhachDangKy_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[BangDangKy] CHECK CONSTRAINT [FK_KhachDangKy_KhachHang]
GO
ALTER TABLE [dbo].[BangDangKy]  WITH CHECK ADD  CONSTRAINT [FK_KhachDangKy_ThoiGian] FOREIGN KEY([MaThoiGianTour])
REFERENCES [dbo].[ThoiGianTour] ([MaThoiGianTour])
GO
ALTER TABLE [dbo].[BangDangKy] CHECK CONSTRAINT [FK_KhachDangKy_ThoiGian]
GO
ALTER TABLE [dbo].[ChiTietDiaDiem]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDiaDiem_DiaDiem] FOREIGN KEY([MaDiaDiem])
REFERENCES [dbo].[DiaDiem] ([MaDiaDiem])
GO
ALTER TABLE [dbo].[ChiTietDiaDiem] CHECK CONSTRAINT [FK_ChiTietDiaDiem_DiaDiem]
GO
ALTER TABLE [dbo].[DiaDiem]  WITH CHECK ADD  CONSTRAINT [FK_DiaDiem_TinhThanh] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[TinhThanh] ([MaTinhThanh])
GO
ALTER TABLE [dbo].[DiaDiem] CHECK CONSTRAINT [FK_DiaDiem_TinhThanh]
GO
ALTER TABLE [dbo].[DoanDuLich]  WITH CHECK ADD  CONSTRAINT [FK_DoanDuLich_ThoiGianTour] FOREIGN KEY([MaThoiGianTour])
REFERENCES [dbo].[ThoiGianTour] ([MaThoiGianTour])
GO
ALTER TABLE [dbo].[DoanDuLich] CHECK CONSTRAINT [FK_DoanDuLich_ThoiGianTour]
GO
ALTER TABLE [dbo].[GiaTour]  WITH CHECK ADD  CONSTRAINT [FK_GiaTour_Tour] FOREIGN KEY([MaTour])
REFERENCES [dbo].[Tour] ([MaTour])
GO
ALTER TABLE [dbo].[GiaTour] CHECK CONSTRAINT [FK_GiaTour_Tour]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_QuocTich] FOREIGN KEY([MaQuocTich])
REFERENCES [dbo].[QuocTich] ([MaQuocTich])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_QuocTich]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_ChiPhiAnUong] FOREIGN KEY([MaChiPhiAnUong])
REFERENCES [dbo].[ChiPhiAnUong] ([MaChiPhiAnUong])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_ChiPhiAnUong]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_ChiPhiKhachSan] FOREIGN KEY([MaChiPhiKhachSan])
REFERENCES [dbo].[ChiPhiKhachSan] ([MaChiPhiKhachSan])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_ChiPhiKhachSan]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_ChiPhiPhatSinh] FOREIGN KEY([MaChiPhiPhatSinh])
REFERENCES [dbo].[ChiPhiPhatSinh] ([MaChiPhiPhatSinh])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_ChiPhiPhatSinh]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_ChiPhiPhuongTien] FOREIGN KEY([MaChiPhiPhuongTien])
REFERENCES [dbo].[ChiPhiPhuongTien] ([MaChiPhiPhuongTien])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_ChiPhiPhuongTien]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_ChiTietDiaDiem] FOREIGN KEY([MaChiTietDiaDiem])
REFERENCES [dbo].[ChiTietDiaDiem] ([MaChiTietDiaDiem])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_ChiTietDiaDiem]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [FK_LichTrinh_DoanDuLich] FOREIGN KEY([MaDoanDuLich])
REFERENCES [dbo].[DoanDuLich] ([MaDoanDuLich])
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [FK_LichTrinh_DoanDuLich]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_DoanDuLich] FOREIGN KEY([MaDoanDuLich])
REFERENCES [dbo].[DoanDuLich] ([MaDoanDuLich])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_DoanDuLich]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVien]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhiemVu] FOREIGN KEY([MaNhiemVu])
REFERENCES [dbo].[NhiemVu] ([MaNhiemVu])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhiemVu]
GO
ALTER TABLE [dbo].[ThoiGianTour]  WITH CHECK ADD  CONSTRAINT [FK_ThoiGianTour_Tour] FOREIGN KEY([MaTour])
REFERENCES [dbo].[Tour] ([MaTour])
GO
ALTER TABLE [dbo].[ThoiGianTour] CHECK CONSTRAINT [FK_ThoiGianTour_Tour]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_LoaiHinhDuLich1] FOREIGN KEY([MaLoaiHinh])
REFERENCES [dbo].[LoaiHinhDuLich] ([MaLoaiHinh])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_LoaiHinhDuLich1]
GO
ALTER TABLE [dbo].[TourDiemThamQuan]  WITH CHECK ADD  CONSTRAINT [FK_TourDiemThamQuan_DiaDiem] FOREIGN KEY([MaDiaDiem])
REFERENCES [dbo].[DiaDiem] ([MaDiaDiem])
GO
ALTER TABLE [dbo].[TourDiemThamQuan] CHECK CONSTRAINT [FK_TourDiemThamQuan_DiaDiem]
GO
ALTER TABLE [dbo].[TourDiemThamQuan]  WITH CHECK ADD  CONSTRAINT [FK_TourDiemThamQuan_Tour] FOREIGN KEY([MaTour])
REFERENCES [dbo].[Tour] ([MaTour])
GO
ALTER TABLE [dbo].[TourDiemThamQuan] CHECK CONSTRAINT [FK_TourDiemThamQuan_Tour]
GO
USE [master]
GO
