<div class="sl-logo"><a href=""><i class="icon ion-android-star-outline"></i> KJ Tourist</a></div>
<div class="sl-sideleft">
    <div class="input-group input-group-search">
        <input type="search" name="search" class="form-control" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn"><i class="fa fa-search"></i></button>
        </span><!-- input-group-btn -->
    </div><!-- input-group -->

    <label class="sidebar-label">Danh mục chức năng</label>
    <div class="sl-sideleft-menu">
        <a href="" class="sl-menu-link">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                <span class="menu-item-label">Quản lí đoàn</span>
                <i class="menu-item-arrow fa fa-angle-down"></i>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
        <ul class="sl-menu-sub nav flex-column">
            <li class="nav-item"><a href="/dang-ky/" class="nav-link">Đăng ký tour</a></li>
            <li class="nav-item"><a href="/lap-doan-du-lich/" class="nav-link">Lập đoàn du lịch</a></li>
        </ul>

        <a href="/thong-ke-chi-phi/" class="sl-menu-link">
            <div class="sl-menu-item">
                <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
                <span class="menu-item-label">Thống kê chi phí</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->        
    </div><!-- sl-sideleft-menu -->
    <br>
</div><!-- sl-sideleft -->
