@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section headerCSS {
    <link href="~/Assets/template/lib/highlightjs/github.css" rel="stylesheet">
    <link href="~/Assets/template/lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="~/Assets/template/lib/select2/css/select2.min.css" rel="stylesheet">
}
@section footerJS {
    <script src="~/Assets/template/lib/highlightjs/highlight.pack.js"></script>
    <script src="~/Assets/template/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Assets/template/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Assets/template/lib/select2/js/select2.min.js"></script>
    <script>
        $('#tableKhachHang').DataTable({
            bLengthChange: false,            
            searching: true,
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });
    </script>
}
<nav class="breadcrumb sl-breadcrumb">
    <a class="breadcrumb-item" href="/">KJ Tourist</a>
    <span class="breadcrumb-item active">Đăng ký tour</span>
</nav>
<div class="sl-pagebody">
    <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Thông tin khách hàng</h6>
        <p class="mg-b-20 mg-sm-b-20"></p>

        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="row col-lg-12">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Họ và tên: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="fullname" value="John Paul" placeholder="Nhập vào họ tên đầy đủ">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Giới tính: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="gender" value="McDoe" placeholder="Chọn giới tính">
                        </div>
                    </div><!-- col-4 -->
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Ngày sinh: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="date" value="johnpaul@yourdomain.com" placeholder="Nhập vào ngày tháng năm sinh">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Số CMND / Passport: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="cmnd" value="Market St. San Francisco" placeholder="Nhập vào số CMND hoặc Passport">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Số điện thoại: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="phone" value="Market St. San Francisco" placeholder="Nhập vào số điện thoại liên lạc">
                        </div>
                    </div><!-- col-4 -->
                </div>                
                <div class="row col-lg-12">
                    <div class="col-lg-8">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Địa chỉ: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" name="address" value="Market St. San Francisco" placeholder="Nhập vào địa chỉ cư trú">
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Quốc tịch: <span class="tx-danger">*</span></label>
                            <select class="form-control select2" data-placeholder="Choose country">
                                <option label="Choose country"></option>
                                <option value="USA">United States of America</option>
                                <option value="UK">United Kingdom</option>
                                <option value="China">China</option>
                                <option value="Japan">Japan</option>
                            </select>
                        </div>
                    </div><!-- col-4 -->
                </div>    
            </div><!-- row -->

            <div style="margin-top:50px;">
                <h6 class="card-body-title">Danh sách tour đang hoạt động</h6>
                <p class="mg-b-20 mg-sm-b-30">Đăng ký cho tour theo yêu cầu của khách hàng.</p>

                <div class="table-wrapper">
                    <table id="tableKhachHang" class="table display responsive nowrap">
                        <thead>
                            <tr>
                                <th class="wd-15p">First name</th>
                                <th class="wd-15p">Last name</th>
                                <th class="wd-20p">Position</th>
                                <th class="wd-15p">Start date</th>
                                <th class="wd-10p">Salary</th>
                                <th class="wd-25p">E-mail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger</td>
                                <td>Nixon</td>
                                <td>System Architect</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                                <td>t.nixon@datatables.net</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-wrapper -->
            </div>

            <div class="form-layout-footer" style="margin-top: 20px;">
                <button class="btn btn-info mg-r-5">Submit Form</button>
                <button class="btn btn-secondary">Cancel</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </div><!-- card -->
</div><!-- sl-pagebody -->
