<connectionStrings>
  <add name="TourDuLichEntities" connectionString="metadata=res://*/TourDuLichModel.csdl|res://*/TourDuLichModel.ssdl|res://*/TourDuLichModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JIUG6HH\SQLEXPRESS;initial catalog=TourDuLich;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>